.actorName {
    max-width: 200px;
    text-align: center;
    white-space: nowrap;
    font-size: 0.95rem;
}

.actorPhoto {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}