.movieBlock {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.movieHeading {
    max-width: 400px;
    text-align: center;
}

.movieData {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.star {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.overview {
    font-weight: normal;
}

.movieContainer {
    padding-top: 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.creditsBlock {
    display: flex;
    overflow-y: auto;
    column-gap: 10px;
}

.trailerBlock {
    display: flex;
    flex-direction: column;
    align-items: center
}

.genresBlock {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.trailerText {
    align-self: start;
}

.reviewBlock {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.actorsHeading,
.trailersHeading,
.reviewsHeading {
    margin-top: 15px;
}